{% extends "base.html" %}

{%block titulo%}
    Lista Empleados
{% endblock %}

{% block contenido %}

    <form method="GET">
        <input type="text" name="nombre_empleado" value="{{ param_nombre }}">
        <button type="submit">filtar</button>    
    </form>

    {% for empleado in empleados %}
        Nombre: {{ empleado.nombre }}<br>
        Sueldo: {{ empleado.sueldo }}<br>
        {% if empleado.sueldo > 18000 %}
            Sueldo mayor a 18000 <br>
        {% endif %}
        <a href="{% url 'empleado' empleado.id %}">ver detalles</a><br>  
        <a href="{%url 'borrar_empleado' empleado.id%}">Borrar</a>
        <br>
        <br>
    {% endfor %}
{% endblock %}