{% extends "base.html" %}

{%block titulo%}
    {% if operacion == 'CREAR' %}
        Nuevo Empleado
    {% else %}
        Editar Empleado
    {% endif %}
{% endblock %}<br>

{% block contenido %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            {% if operacion == 'CREAR' %}
                Crear
            {% else %}
                Guardar
            {% endif %}
        </button>
    </form>

{% endblock %}